:root {
  /* Colors */
  --color-blue-grayish--dark: hsl(217, 19%, 35%);
  --color-blue-grayish--desaturated: hsl(214, 17%, 51%);
  --color-blue-grayish: hsl(212, 23%, 69%);
  --color-blue-grayish--light: hsl(210, 46%, 95%);

  /* Fonts */
  --font-body-size: 13px;
  --font-body: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  color: var(--color-blue-grayish--dark);
}

.attribution {
  text-align: left;
  color: var(--color-blue-grayish);
  margin: 2em;
}
.attribution label {
  display: block;
}
.attribution span {
  color: var(--color-blue-grayish--dark);
}
.attribution a {
  color: var(--color-blue-grayish--dark);
}
.attribution .icon {
  height: 16px;
  object-fit: contain;
  vertical-align: middle;
  padding: 0 0.46em;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.content {
  padding: 0 4em;
  width: 100%;
}

.card {
  max-width: 375px;
  box-shadow: 0 8px 40px var(--color-blue-grayish--light);
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  margin: 0 auto;
}

.card__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.card__content {
  border-radius: 0 0 20px 20px;
}
.card__title {
  margin-bottom: 1em;
  text-align: justify;
}
.card__info {
  padding-top: 1em;
  padding-bottom: 1em;
}
.card__text {
  line-height: 1.8;
  text-align: justify;
}
.card__footer,
.card__slider {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}
.card__footer {
  justify-content: space-between;
}
.card__profile-image,
.card__profile-info {
  display: inline-block;
  vertical-align: middle;
}
.card__profile-image {
  object-fit: contain;
  border-radius: 100%;
  width: 48px;
  margin-right: 1em;
}
.card__profile-name,
.card__profile-date {
  display: block;
}
.card__profile-name {
  font-weight: 700;
  margin-bottom: 2px;
}
.card__profile-date {
  color: var(--color-blue-grayish);
}

.btn {
  padding: 0.8em 1em;
  background-color: var(--color-blue-grayish--light);
  color: var(--color-blue-grayish--desaturated);
  border: none;
  text-align: center;
  transition: all 0.3s;
}

.btn-circle {
  border-radius: 100%;
}
.card__footer .btn {
  z-index: 100;
}

.card__slider {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--color-blue-grayish--dark);
  color: var(--color-blue-grayish);
  transform: translateY(105%);
  transition: opacity 0.3s, transform 0.3s;
}

.card__slider-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card__slider label {
  letter-spacing: 0.5em;
  margin-right: 1em;
}

.card__slider-social {
  font-size: 2em;
  color: var(--color-blue-grayish--light);
}
.card__slider-social i {
  padding: 1em 0.3em;
}

.card__footer.active .card__slider {
  transform: translateY(0);
}
.card__footer.active .btn {
  background-color: var(--color-blue-grayish) !important;
  color: var(--color-blue-grayish--light) !important;
}

@media screen and (min-width: 1440px) {
  .attribution label {
    display: inline-block;
  }
  .card {
    display: flex;
    max-width: 700px;
    max-height: 375px;
    overflow: visible;
  }
  .card__image {
    border-radius: 20px 0 0 20px;
  }
  .card__content {
    height: 100%;
    border-radius: 0 20px 20px 0;
  }
  .card__slider {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    opacity: 0;
  }
  .card__slider-content {
    padding: 0 2em;
  }
  .card__slider-content::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--color-blue-grayish--dark);
    clear: both;
  }

  .card__footer.active .card__slider {
    opacity: 1;
    visibility: visible;
  }
}
